*{
    margin: 0;
    padding: 0;
    font-family: 'Spectral SC', serif;
}

html{
    scroll-behavior: smooth;
}

/* Login page */
.login_page{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.username_container, .email_container, .password_container, .buttons{
    padding: 0 50px;
    padding-top: 30px;
    font-size: 16px;
}

.textarea{
    border: none;
    background-color: #dfdfdf;
    position: relative;
    width: 100%;
    line-height: 2em;
    border-radius: 3px;
}

input[type='text']{
    font-size: 17px;
}

input[type='email']{
    font-size: 17px;
}

input[type='password']{
    font-size: 17px;
}

.sign_in_button{
    width: 100%;
    line-height: 3em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    background-color: #bebebe;
}

.sign_in_button:hover{
    background-color: #ecd6d6;
    transition: 0.5s ease-in-out;
}

.remember{
    align-content: center;
    font-size: 16px;
}

.remember:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* Loading page */
#loading{
    position: absolute;
    left: 35%;
    top: 15%;
}



/* Home page */
#home_page .header_bar{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    cursor: pointer;

}

.header{
    overflow: hidden;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 226, 228);
}

.header .point:hover{
    color: #684545;
}

.header .cart:hover{
    color: #684545;
}


.navigation ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    
}

.navigation .bar a{
    text-decoration: none;
    color: black;
}

.navigation .bar a:hover{
    color: #684545;
}

.moto h1{
    text-align: center;
    padding-top: 25%;
    font-weight: bolder;
}

.moto h4{
    text-align: center;
    padding-top: 10%;
}

.moto .arrow_down{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.moto .arrow_down:hover{
    color: #684545;
}




/* Intro section */
#intro_page{
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 60px;
}

.short_intro{
    margin-left: 600px;
    margin-right: 100px;
    margin-top: 250px;
    position: absolute;
}

#intro_page img{
    width: 500px;
    height: 650px;
    object-fit: cover;
    border-radius: 20px;
}




/* Choose us section */
#choose_us{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(255, 232, 203);
}

#choose_us h1{
    text-align: center;
}

.example{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}

.treat{
    margin-left: 50px;
}

.freshly{
    margin-left: 40px;
}




/* Comment section */
#comments{
    padding-top: 100px;

}
